.idea
*.iml
out
gen
*.pth
runs
cache
*__pycache__
.ipynb_checkpoints
figures/images
figures/images*
checkpoints
.DS_Store
datasets/figures/
batch_size.json
metrics/pytorch_structural_losses/Makefile
.gitignore
tensorboard_logs/
notebooks/lightning_logs/
notebooks/logs/
param_logs/
tensorboard_logs_OLD/
running_logs/
